.card-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5em;
    max-width: 90%;
    margin: 3rem 0 2rem 0;
}
.card-list .card-icon{
    width: 50%;
    height: 100%;
    color: white;
}
@media screen and (min-width: 992px) {
	.card-list {
		grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
	}
}
