.cardInfo {
	background: white;
	border-radius: 15px;
	padding: 0 2rem 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px var(--SecondaryColor);
}
.cardInfo:hover {
	transform: scale(1.1);
  transition: all 0.7s;
}
.cardInfo h3 {
	color: #2c2c44d8;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: left;
}
.cardInfo p {
	color: #2e546b;
}
.span-color{
	color:var(--SecondaryColor);
	font-weight: 700;
	font-size: 1.2em;
	margin-right: 5px;
}

.cardInfo .test {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background: var(--SecondaryColor);
	text-align: center;
	margin: -15% 0 1rem 0;
}
